doctype html
html
  head
    title  Rims Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/L5.jpg")
                | RDA
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]   
    block content
    footer#footer
       | Copyright © 2020 RimsDanceAcademy.com. All rights reserved.
